:root {
  --black: #0A090B;
  --jasmine: #F2D686;
  --darkred: #4d1801;
  --red: #9A3002;
  --gold: #967203;
}
/*Reset*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(251, 251, 249);

}

header {
  padding: 20px; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

header h1 {
  display: inline-block;
  font-size: 48px;
}


header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;;
}

header nav a {
  list-style-type: none;
  display: inline-block;
  margin-left: 25px;
  cursor: pointer;
}

/*Global Classes*/
a {
  color: rgb(17, 20, 17);
}

a:hover {
  text-decoration: none;
  color: rgb(170, 198, 170);
}

p {
  font-size: 16px;

}

h2 {
  display: block;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}

li a {
  display: block;
  padding: 10px;
  text-decoration: none;
}

img {
  object-fit: cover;
}
/* Hero Styling */
.Hero-Container {
height: 800px;
width:100% ;
opacity: 0.4;
margin-bottom: 25px;
background-image: url('../images/seaside.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;

}

.HeroText {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: none;
  z-index: 0;
}


.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 20px
}


/*Section styling*/

section {
  margin-bottom:20px;
  padding: 50px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(255, 255, 255);
  color: rgb(17, 35, 17);
}
.About {
  display: flex;
  flex-direction:column ;
}

.AboutImage {
  border-top: 100px;
  padding-top: 5px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center top;
}

.AboutImage img {
  border-radius: 15px 50px;
  border-color: red;
}
.WorkSection {
  padding: 50px;
  position: relative;

}

.ProjectContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

.Portfolio1, .Portfolio2, .Portfolio3, .Portfolio4, .Portfolio5, .Portfolio6 {
  height: 300px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 40px;
  box-shadow: 0 2px 6px darkgrey;
  text-align: center;
  
}

.PortfolioContent {
  height: 100%;
  width: 200px;
  float: left;
  margin-right: 25px;
  transition: 1s;
  margin: 20px;
  padding-top: 40px;
}

.PortfolioContent:hover{
transform: scale(1.1);
z-index: 1;
}

article {
margin-bottom: 20px;
padding: 10px;
height: 300px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background-color: rgb(251, 251, 249);
color: #ffffff;
}
article p {
  color: rgb(28, 35, 35);
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
}

article a{
  color: rgb(28, 35, 35);
}


article a:hover {
  color: rgb(170, 198, 170)

}

article h2 {
  color: rgb(28, 35, 35);
  margin: auto ;
  margin-top: 20px;
  font-size: 36px;
  margin-right: 2px;
  margin-bottom:20px;
  padding: 50px;
}

.ContactSection {
  display: block;
  padding: 20px;
  margin: 250px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.ContactNav {
  display: block;
  text-align: left;
  background-color: rgb(251, 251, 249);
}
.footerSection {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: rgb(58, 78, 78);
  color: azure
  
}